@layout('layouts/master')
@set('title', 'Liste des annonces')

@section('content')

    <index-post style="background-image: url('/images/bg/login_bg.png'); background-size: cover;">

    </index-post>
@endsection
