@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #ffffff;
    background: -webkit-linear-gradient(to right, #d7dceb, #e2e2e2);
    background: linear-gradient(to right, #d7dceb, #e2e2e2);
}
